.form-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border:1px solid white;
        padding:1rem;
        border-radius: 0.75rem;
        box-shadow: 0.5rem 0.5rem 0.5rem rgb(110, 110, 110);


        h1{
            padding-block: 1rem;
            border-bottom: 1px solid white;
        }

        .form-group{
            display: flex;
            justify-content: center;
            
            gap: 1rem;
       
            input{
                outline: none;
                border: none;
                border-radius: 1rem;
                text-align: center;
                min-width: 15vw;
            }
        }

    }

}